#nuevoUserModal.modal.fade(tabindex='-1' aria-labelledby='nuevoUserLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
            
            h1#nuevoUserLabel.modal-title.fs-5 Nuevo Usuario

            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
        
            form 
                label(for="nombreUser") Nombre 
                input#nombreUser.form-control(type='text' aria-describedby='passwordHelpInline' placeholder="Nombre" name= 'nombreUser'  ) 
                
                label(for="apellido") Apellido
                input#apellido.form-control(type='text' aria-describedby='passwordHelpInline' placeholder="Apellido"  name="apellido") 
                
                label(for="username") Username
                input#username.form-control(type='text' aria-describedby='passwordHelpInline' placeholder="Username" name="username")
            
                label(for="password") Password
                input#password.form-control(type='text' aria-describedby='passwordHelpInline' placeholder="Username" name="username")
            
                
                label(for="role") Rol 
                //Select que muestre de manera dinamica el nombre de la categoria
                select#role.form-select(name='role')
                    option(value="ADMIN") ADMIN
                    option(value="Almacenista") Almacenista
                    option(value="Reader") Reader

        
        .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary#enviarNuevaProducto(type='button',onclick="createUser()") Save changes
          