.enlace
    i.bi.bi-house-fill
    a(href='/') Inicio 

.enlace
    i.bi.bi-cart-fill
    a(onclick="accederProducto()") Producto
    //- button.btn.btn-success(type='button'   onclick="accederProducto()" )


.enlace
    i.bi.bi-clock-history
    span Historial
.enlace
    i.bi.bi-file-earmark-fill
    span Documentos
.enlace
    i.bi.bi-person-circle
    a(href='/users') Usuario
.relleno
    p